@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Variáveis globais */
:root {
    --cor0: #eaf3fb;
    --cor1: #d7e9ff;
    --cor2: #2f80ed;
    --cor3: #1d5fc4;
    --cor4: #0b3d85;

    --verde: #27ae60;
    --vermelho: #eb5757;
    --amarelo: #f2c94c;

    --fonte-padrao: "Poppins", Arial, Verdana, Helvetica, sans-serif;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-padrao), Arial, Helvetica, sans-serif;
}

/* Estilo Padrão */
body {
    background-color: var(--cor0);
    color: #000;
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font: inherit;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    min-height: 100%;
    width: 100%;
}

/* Icons */
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
}
